# Dependências (O principal motivo para os +9k ficheiros)
node_modules/
dist/
build/

# Strapi (Base de dados local e ficheiros temporários)
.tmp/
.cache/
.env
public/uploads/

# Logs e ficheiros de sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Configurações de Editor
.vscode/
.idea/